{% load i18n %}
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordian="false">
        {% for category, top_level in menu_list.items %}
            {% for i, menu_item in top_level.items %}
                {% if menu_item.header %}
        <li class="nav-header navbar-blue">{% trans menu_item.header|upper %}</li>
                {% endif %}
                {% if menu_item.item %}
        <li class="nav-item">
            {% url menu_item.route as the_url %}
            {% if the_url == '' %}
                {% url 'placeholder' as the_url %}
            {% endif %}
            <a href="{{ the_url }}" class="nav-link {% if current_route == menu_item.route or current_route in menu_item.routes %}active{% endif %}">
            {% if menu_item.icon %}
                <i class="nav-icon {{ menu_item.icon }}"></i>
            {% endif %}
                <p>{% trans menu_item.item %}
                    {% if menu_item.counter %}<span class="right badge {{ menu_item.counter_color }}"{% if menu_item.counter_title %} data-toggle="tooltip" data-placement="right" title="{% trans menu_item.counter_title %}"{% endif %}>{{ menu_item.counter }}</span>{% endif %}
                    {% if menu_item.alert %}<span class="right badge {{ menu_item.alert_color }}"><i class="{{ menu_item.alert_icon }} m-0"></i>&nbsp;</span>{% endif %}
                </p>
            </a>
        </li>
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% if request.user.is_staff or request.user.is_superuser %}
    <li class="nav-header navbar-blue">{% trans 'SITE ADMINISTRATION' %}</li>
    {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item">
            <a href="{% url 'placeholder' %}" class="nav-link"> <i class="nav-icon fas fa-exclamation-triangle"></i> <p>{% trans 'MOTD' %}</p>
            </a>
        </li>
        {% endif %}
        {% if request.user.is_staff or request.user.is_superuser %}
        <li class="nav-item">
            <a href="/site-admin" class="nav-link"> <i class="nav-icon fa fa-shield-alt"></i> <p>{% trans 'Site Administration' %}</p>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- /.sidebar-menu -->
