{% extends 'base.html' %}
{% load i18n static humanize formatting %}
{% block content %}
    <div class="container-fluid pl-3 pr-3">
        <div class="row">
            <div class="col-md-12" style="overflow: hidden;">
                <div>
                    <img src="{% static 'img/fleet_carrier_header.png' %}" style=" width: 100%; object-fit: contain;" alt="Fleet Carrier">
                    <div class="fc-name">
                        <span class="text-orange h3 text-bold">{{ fc_name }}</span><br>
                        <span class="text-white text-sm">{{ data.name.callsign }}</span>
                    </div>
                    <div class="fc-access text-right">
                        Docking Access to {{ data.dockingAccess|camel2space }}<br>
                        Notorious Commander {% if data.notoriousAccess == True %}<i class="fas fa-check-circle text-success ml-1"></i>{% else %}<i class="fas fa-times-circle text-danger ml-1"></i>{% endif %}
                    </div>
                    <div class="fc-footer-left">
                        <span class="text-white">{% trans 'Currently in' %} {{ data.currentStarSystem }}</span><br>
                        Arrived since {{ arrived_since|timesince }}
                    </div>
                    <div class="fc-footer-right">
                        <a id="sync_button" href="{% url 'commander:sync_fleet_carrier' %}" class="btn btn-outline-success float-right mr-2 mb-1"><i id="sync_icon" class="fas fa-sync-alt mr-1"></i> {% trans 'Sync with Frontier' %}
                        </a>
                        {% if has_carrier_info %}
                            <a id="swap_screen" href="#" class="btn btn-outline-success float-right mr-2 mb-1">
                            <i class="fas fa-exchange-alt mr-1"></i>
                            <span id="swap_button">{% trans 'Carrier Market' %}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if has_carrier_info %}
            <div id="panel-1" style="display: block;">
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="info-box bg-info shadow">
                            <span class="info-box-icon"><i class="fas fa-dollar-sign"></i></span>
                            <div class="info-box-content">
                                <span class="text-lg text-bold">{% trans 'Carrier Balance' %}</span>
                                <span class="text-md">{{ data.balance|intcomma }}</span>
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Current Finances' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in data.finance.items %}
                                        <tr>
                                            <td>{% trans label|camel2space %}</td>
                                            <td class="text-right">{{ value|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info-box bg-success shadow">
                            <span class="info-box-icon"><i class="fas fa-funnel-dollar"></i></span>
                            <div class="info-box-content">
                                <span class="text-lg text-bold">{% trans 'Upkeep is Funded for' %}</span>
                                <span class="text-md">{{ funded_until|timeuntil }}</span>
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Market Finances' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in data.marketFinances.items %}
                                        <tr>
                                            <td>{% trans label|camel2space %}</td>
                                            <td class="text-right">{{ value|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Blackmarket Finances' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in data.blackmarketFinances.items %}
                                        <tr>
                                            <td>{% trans label|camel2space %}</td>
                                            <td class="text-right">{{ value|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box bg-orange shadow">
                            <span class="info-box-icon"><i class="fas fa-gas-pump "></i></span>
                            <div class="info-box-content">
                                <span class="text-lg text-bold">{% trans 'Fuel' %}</span>
                                <div class="progress position-relative" style="height: 14px">
                                    <div class="progress-bar bg-gray-dark" role="progressbar" style="width: {{ fuel_percent }}%"></div>
                                    <small class="text-white justify-content-center d-flex position-absolute w-100" style="bottom: 7px;">{{ fuel_percent }}%</small>
                                </div>
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Services' %}<span class="text-md"> - {{ data.theme }}</span></h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, status in data.market.services.items|dictsort:0 %}
                                        <tr>
                                            <td>{% trans label|camel2space %}</td>
                                            <td class="text-right">
                                                {% if status == "private" %}
                                                    {% trans 'Owner Only' %}
                                                    <i class="text-warning fas fa-exclamation-circle ml-1"></i>
                                                {% elif status == "ok" %}
                                                    {% trans 'Available' %}
                                                    <i class="text-success fas fa-check-circle ml-1"></i>
                                                {% else %}
                                                    {% trans 'Unavailable' %}
                                                    <i class="text-danger fas fa-times-circle ml-1"></i>
                                                {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box bg-info shadow">
                            <span class="info-box-icon"><i class="fas fa-info-circle "></i></span>
                            <div class="info-box-content">
                                <span class="text-lg text-bold">{% trans 'Fleet Carrier State' %}</span>
                                <span class="text-md">{{ data.state|camel2space }}</span>
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Crews' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    {#                                <thead>#}
                                    {#                                <tr>#}
                                    {#                                    <th style="width: 80%;">{% trans 'Description' %}</th>#}
                                    {#                                    <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>#}
                                    {#                                </tr>#}
                                    {#                                </thead>#}
                                    <tbody>
                                    {% for key, dataset in data.servicesCrew.items|dictsort:"1.crewMember.name" %}
                                        <tr>
                                            <td>{{ dataset.crewMember.name }}<br><span style="font-style: italic;">{% if dataset.crewMember.gender == "F" %}
                                                {% trans 'Female' %}{% else %}
                                                {% trans 'Male' %}{% endif %}
                                                - {% trans dataset.crewMember.faction|capfirst %}</span>
                                            </td>
                                            <td class="text-right">
                                                <span class="text-orange">{% trans key|camel2space %}</span>
                                                {% if dataset.status == "ok" %}
                                                    <i class="text-success fas fa-check-circle ml-1">{% else %}
                                                    <i class="text-danger fas fa-times-circle ml-1">{% endif %}</i>
                                                <br>${{ dataset.crewMember.salary|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Operation Statistics' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in operation_statistics.items %}
                                        <tr>
                                            <td>{% trans label|cut:"FLEETCARRIER_"|to_space|title %}</td>
                                            <td class="text-right">{{ value|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ operation_statistics_timestamp|timesince }} ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel-2" style="display: none;">
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Carrier Capacity' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th style="width: 80%;">{% trans 'Description' %}</th>
                                        <th class="text-right" style="width: 20%;">{% trans 'Value' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in data.capacity.items %}
                                        <tr>
                                            <td>{% trans label|camel2space %}</td>
                                            <td class="text-right">{{ value|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Prohibited Commodities' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th colspan="2" style="width: 80%;">{% trans 'Description' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for label, value in data.market.prohibited.items|dictsort:1 %}
                                        <tr>
                                            <td colspan="2">{% trans value|camel2space %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-secondary shadow">
                            <h5 class="card-header">{% trans 'Market Status' %}</h5>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover table-sm table-striped text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'Commodity' %}</th>
                                        <th>{% trans 'Demand/Supply' %}</th>
                                        <th>{% trans 'Buy Price' %}</th>
                                        <th>{% trans 'Sell Price' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dataset in data.market.commodities|dictsort:"name" %}
                                        <tr>
                                            <td>{% trans dataset.name|camel2space %}</td>
                                            <td>{{ dataset.demand }}</td>
                                            <td>{{ dataset.buyPrice }}</td>
                                            <td>{{ dataset.sellPrice }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right text-sm">
                                Updated {{ last_updated|timesince }} ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="jumbotron bg-gray-dark text-center mt-2">
                <span class="h2"><i class="fas fa-exclamation-triangle mr-2 text-warning"></i>You currently do not have updated Fleet Carrier information.</span>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $('#sync_button').click(function (e) {
                $('#sync_icon').addClass('fa-spin');
            });
            $('#swap_screen').click(function (e) {
                console.log('clicked on swap screen');
                if ($('#panel-1').is(':visible')) {
                    $('#panel-1').fadeOut('fast');
                    $('#swap_button').text("{% trans 'General Information' %}");
                    $('#panel-2').fadeIn('fast');
                } else {
                    $('#panel-2').fadeOut('fast');
                    $('#swap_button').text("{% trans 'Carrier Market' %}");
                    $('#panel-1').fadeIn('fast');
                }
            })
        })
    </script>
{% endblock %}
